.comentarios {
    box-sizing: border-box;
    /* width: 70%; */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: block;
    margin: 5% auto auto auto;
}

.comentarios input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.comentarios input[type=submit] {
    background-color: #4CAF50;
    /* color: white; */
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
}

.comentarios input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
    .comentarios {
        width: 100%;
    }
}

.comentarios input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}